In [1]:
import os
print(os.getcwd())

/workspace/projects/a01-eda

In [2]:
import pandas as pd 
dpath_to_data = '../../data/'

train = pd.read_csv(os.path.join(dpath_to_data,'train.csv'))
test = pd.read_csv(os.path.join(dpath_to_data,'test.csv'))

In [3]:
train['duration']

0        101
1        158
2        351
3        658
4        177
        ...
27095    345
27096    121
27097    177
27098    121
27099    345
Name: duration, Length: 27100, dtype: int64

In [4]:
train.loc[train['duration']==0,'y']

568      0
2426     0
2586     0
9080     0
9303     0
11330    0
13702    1
15329    0
17444    0
18603    0
20075    0
23167    0
25604    1
26804    0
Name: y, dtype: int64

In [5]:
test.loc[test['duration']==0]

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
166,166,34,blue-collar,divorced,secondary,no,32511,no,no,unknown,2,jun,0,2,588,0,unknown
1738,1738,36,services,divorced,secondary,no,50627,no,no,unknown,2,jun,0,2,241,0,unknown
3789,3789,30,entrepreneur,married,tertiary,no,-4166,yes,yes,unknown,2,jun,0,1,236,0,unknown
7929,7929,35,technician,divorced,primary,no,75985,no,no,unknown,2,jun,0,1,52,0,unknown
9151,9151,31,services,single,secondary,no,44135,no,yes,unknown,2,jun,0,2,264,0,unknown
10112,10112,60,retired,divorced,secondary,no,78395,no,no,unknown,11,jun,0,1,71,0,unknown
10361,10361,35,technician,divorced,tertiary,no,94698,no,no,unknown,2,jun,0,1,39,0,unknown
14603,14603,31,technician,divorced,secondary,no,-233,no,no,unknown,20,jun,0,1,27,0,unknown
18035,18035,37,management,divorced,primary,no,32561,no,no,unknown,2,jun,0,2,859,0,unknown