In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'/workspace/projects/a99-quickLook'

In [3]:
train = pd.read_csv('../../data/train.csv')

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27100 entries, 0 to 27099
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         27100 non-null  int64
 1   age        27100 non-null  int64
 2   job        27100 non-null  object
 3   marital    27100 non-null  object
 4   education  27100 non-null  object
 5   default    27100 non-null  object
 6   balance    27100 non-null  int64
 7   housing    27100 non-null  object
 8   loan       27100 non-null  object
 9   contact    27100 non-null  object
 10  day        27100 non-null  int64
 11  month      27100 non-null  object
 12  duration   27100 non-null  int64
 13  campaign   27100 non-null  int64
 14  pdays      27100 non-null  int64
 15  previous   27100 non-null  int64
 16  poutcome   27100 non-null  object
 17  y          27100 non-null  int64
dtypes: int64(9), object(9)
memory usage: 3.7+ MB

In [5]:
train.shape

(27100, 18)

In [6]:
test = pd.read_csv('../../data/test.csv')

In [7]:
test.shape

(18050, 17)

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18050 entries, 0 to 18049
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         18050 non-null  int64
 1   age        18050 non-null  int64
 2   job        18050 non-null  object
 3   marital    18050 non-null  object
 4   education  18050 non-null  object
 5   default    18050 non-null  object
 6   balance    18050 non-null  int64
 7   housing    18050 non-null  object
 8   loan       18050 non-null  object
 9   contact    18050 non-null  object
 10  day        18050 non-null  int64
 11  month      18050 non-null  object
 12  duration   18050 non-null  int64
 13  campaign   18050 non-null  int64
 14  pdays      18050 non-null  int64
 15  previous   18050 non-null  int64
 16  poutcome   18050 non-null  object
dtypes: int64(8), object(9)
memory usage: 2.3+ MB

In [9]:
train.dtypes

id            int64
age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y             int64
dtype: object

In [10]:
submission = pd.read_csv('../../data/submit_sample.csv',
                         header=None,
                         )

In [11]:
submission

           0  1
0          0  0
1          1  0
2          2  0
3          3  0
4          4  0
...      ... ..
18045  18045  0
18046  18046  0
18047  18047  0
18048  18048  0
18049  18049  0

[18050 rows x 2 columns]